.about_contaner{
    display: flex;         
     flex-direction: column;   
    align-items: center;       
    gap: 2rem; 
}

.team_members {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 1200px;
    justify-items: center;
}

.team_members img {
    width: 280px;  
    height: 280px;
    border-radius: 20px; 
    object-fit: cover;
    border: 4px solid var(--primary-color);
    transition: transform 0.3s, border-color 0.3s;
}

.team_members img:hover {
      transform: scale(1.08);
    border-color: var(--white-color);
}
.about_cards{
    display: grid;
grid-template-columns: repeat(3, 1fr);
     gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
    margin-top: 2rem;


}
 .about_card{
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    
} 
.about_card:hover{
    background: transparent;
    border-color: var(--white-color);

}
.about_icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about_card h5{
    font-size: 0.8rem;
}
.about_card small{
    font-size: 0.7rem;
    
} 
.about_content p{
    margin: 2rem 2.6rem;
    color: var(--white-color);

}
@media (max-width:1024px){
   .team_members {
        grid-template-columns: repeat(2, 1fr);
    }
    .team_members img {
        width: 220px;
        height: 220px;
    }
    .about_cards {
        grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr;
}
    
     .about_content p{
        margin: 1rem 0 1.5 5rem;
    }
    
}

@media (max-width:600px){
   .team_members {
        grid-template-columns: 1fr; 
    }
    .team_members img {
        width: 200px;
        height: 200px;
    }
    .about_cards {
        grid-template-columns: 1fr;
    }
 .about_content p{
        margin: 1.5rem 0;
    }
   
}
