footer{
    background: var(--primary-color);
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
footer a{
    color: var(--color-bg);
}
.footer_logo{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    display: inline-block;

}
.pormalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin:0 auto 20px;
}
.footer_social{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer_social a{
  background: var(--color-bg);
  color: var(--white-color);
  padding: 12px;
  border-radius: 10px;
  display:flex ;
  border: 1px solid transparent;
  transition: var(--transition);
}
.footer_social a:hover{
    background: transparent;
    color: var(--color-bg);
    border: 1px solid var(--color-bg);

}
.footer_copy_right{
    margin-bottom: 4rem;

    color: var(--color-bg);
}
.footer_copy_right a{
   

    color: var(--color-white);
}
@media (max-width:1024px){
    .contaner_projects .porfilo_item{
        width: 48%;
    }


}
@media (max-width:600px){
       .contaner_projects .porfilo_item{
        width: 100%;
    }
}
.pormalinks{
    flex-direction: column;
    gap: 20px;
}
