.home{
    height: 100vh;
    padding: 100px;
    overflow: hidden;
}
.home_container{
    text-align: center;
    height: 100%;
    position: relative;
}
.btns{
 display: flex;
 gap: 1.2rem;
 margin-top: 2.5rem;
 justify-content: center;

}
.home_container{
    font-size: 1.5rem;
}
.home_container .ME{
    width: 300px;
    height: 600px;
    background: linear-gradient(var(--primary-color),transparent);
    border-radius: 12rem 12rem 0 0;
    margin: 4px auto;
    padding:6rem 3rem 3rem 0;
    overflow: hidden;
    display: flex;
    
   

}
.scroll-down{
    position: absolute;
    right: 35px;
    bottom: 40px;
    transform: rotate(90deg);
    font-weight: 300;
}
.home_social{
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 50px;
    position: absolute;
    gap: 0.8rem;
    align-items: center;
}
.home_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--primary-color);
}
.home_social a{
     font-size: 40px;
    
    }
    
@media (max-width:1024px){
    .home{
        height: 68vh;
       
    
    }
    
}

@media (max-width:600px){
    .home{
        height: auto;
        padding: 5rem;
    }
    .home_social, .scroll-down{
        display: none;
    }
    .home h1{
        font-size: 2rem;
    }
    .home_container  .ME{
        max-width: 100%;
        height: 380px;
        width: 300px;
    }
}