.contact_contaner{
    width: 60%;
    display: grid;
    grid-template-columns: 30% 85%;
    gap: 12%;
}
h5{
    text-align: center;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_option{
    background: var(--primary-color);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact_option:hover{
    background: var(--primary-color);
    background: transparent;
}
.contact_options svg{
    font-size: 2rem;
    margin-bottom: 0.rem;
}
.contact_options a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.contact_contaner form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact_contaner input,
.contact_contaner textarea{
    width: 100%;
    padding: 1.5rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    resize: none;
    color: var(--white-color);

}
.contact_contaner form button{
   font-size: 10px;
   padding: 14px 30px;
    
}
.map_container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* نسبة 16:9 */
  margin-top: 20px;    /* مسافة من الأعلى */
  margin-bottom: 0;    /* لا مسافة أسفل الخريطة */
}

.map_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 15px;
}
@media (max-width:1024px){
 .contact_contaner{
    grid-template-columns: 1fr;
    gap: 2rem;
 }
  .map_container iframe {
    height: 400px; 
  }

}
@media (max-width:1024px){
 .contact_contaner{
   width: 90%;
 }
   .map_container iframe {
    height: 300px;
  }
 

}